In [218]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Import fuzzywuzzy for text matching
from fuzzywuzzy import fuzz, process

# Import machine learning libraries
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, RandomizedSearchCV, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, VotingRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error,r2_score
from scipy import stats

In [219]:
df1 = pd.read_csv("data/Bengaluru_House_Data.csv")
df1.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00

In [220]:
df1['location'].value_counts()

location
Whitefield                         540
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        234
                                  ...
3rd Stage Raja Rajeshwari Nagar      1
Chuchangatta Colony                  1
Electronic City Phase 1,             1
Chikbasavanapura                     1
Abshot Layout                        1
Name: count, Length: 1305, dtype: int64

In [221]:
# df1.shape
df2 = df1.drop(['society', 'area_type','availability','balcony'],axis=1)
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [222]:
# df2.isnull().sum() 
df2['location']=df2['location'].fillna('Sarjapur Road')

In [223]:
df2['size']=df2['size'].fillna('2 BHK')

In [224]:
df2.isnull().sum()

location       0
size           0
total_sqft     0
bath          73
price          0
dtype: int64

In [225]:
# Extract number of bedrooms from size
df2['bhk'] = df2['size'].apply(lambda x: int(str(x).split(' ')[0]) if isinstance(x, str) else None)
df2.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [226]:
df2['bath'] = df2.apply(lambda row: row['bhk'] if pd.isnull(row['bath']) else row['bath'], axis=1)
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
bhk           0
dtype: int64

In [227]:
df2['total_sqft'].unique()

# Extract unique values
unique_values = df2['total_sqft'].unique()

# Categorize values
floats = []
ranges = []
strings = []
unknown = []

for value in unique_values:
    try:
        # Try to convert to float
        float_value = float(value)
        floats.append(value)
    except ValueError:
        # Check if it is a range
        if '-' in value and all(part.strip().replace('.', '', 1).isdigit() for part in value.split('-')):
            ranges.append(value)
        else:
            try:
                # Check if it's a valid range format (e.g., '1133 - 1384')
                start, end = value.split('-')
                float(start.strip())
                float(end.strip())
                ranges.append(value)
            except (ValueError, IndexError):
                # If it doesn't fit float or range, classify it as string or unknown
                if value.isalpha() or not any(char.isdigit() for char in value):
                    strings.append(value)
                else:
                    unknown.append(value)

# Display categorized results
print("Floats:")
print(floats)
print("\nRanges:")
print(ranges)
print("\nStrings:")
print(strings)
print("\nUnknown:")
print(unknown)

Floats:
['1056', '2600', '1440', '1521', '1200', '1170', '2732', '3300', '1310', '1020', '1800', '2785', '1000', '1100', '2250', '1175', '1180', '1540', '2770', '600', '1755', '2800', '1767', '510', '1250', '660', '1610', '1151', '1025', '1075', '1760', '1693', '1925', '700', '1070', '1724', '1290', '1143', '1296', '1254', '1330.74', '970', '1459', '800', '869', '1270', '1670', '2010', '1185', '1600', '1500', '1407', '840', '4395', '845', '5700', '1160', '3000', '1140', '1220', '1350', '1005', '500', '1358', '1569', '1240', '2089', '1206', '1150', '2511', '460', '4400', '1660', '1326', '1325', '1499', '1665', '708', '1060', '710', '1450', '2894', '1330', '2502', '650', '2400', '1007', '966', '1630', '1640', '782', '1260', '1413', '1116', '1530', '3700', '2497', '1436', '276', '1427', '2061', '2650', '1282', '1050', '945', '950', '1870', '880', '1535', '1360', '1280', '5000', '3050', '1563.05', '1167', '4000', '1828', '890', '1612', '1034', '1710', '957', '2795', '1125', '1735', '2050', '3750', '1063', '1904', '4200', '2000', '1425', '1470', '1300', '450', '1152', '1550', '400', '705', '770', '1242', '1700', '2144', '1704', '1846', '1340', '1327', '1186', '1783', '1400', '980', '1285', '912', '1225', '1909', '1359', '1207', '1736', '2850', '1595', '1798', '1475', '1580', '1295', '3600', '589', '1415', '1787', '984', '2405', '1080', '1900', '805', '1153', '1148', '1110', '1933', '3500', '645', '1644', '910', '1577', '4050', '2420', '900', '1108', '3045', '2900', '1162', '1035', '1464', '1866', '1804', '913', '1868', '883', '1664', '2026', '1210', '4111', '1762', '1252', '861', '1420', '1490', '1084', '1015', '1017', '1027', '1069', '1349', '1417', '1863', '1010', '1847', '525', '1850', '1438', '1560', '850', '1113', '1385', '1128', '2390', '1645', '1192', '2135', '1173', '3122', '1230', '11', '1508', '1592', '1388', '630', '3252', '1308', '530', '1205', '930', '1380', '2483', '1166', '2023.71', '1935', '451', '1801', '1451', '1629', '1826', '1245', '1145', '825', '1113.27', '1460', '1656', '1208', '1910', '12000', '550', '750', '1090', '1991', '1105', '985', '1533', '1590', '1120', '1194', '1419', '2150', '11890', '1750', '1404', '1715', '1752.12', '1650', '1346', '3309', '1190', '1620', '2450', '1130', '1320', '4800', '929', '1753', '4500', '1196', '1040', '720', '1511', '1545', '375', '1062', '1115', '1195', '1246', '8500', '2805', '1584', '1353', '1599', '5230', '1155', '1867', '1251', '1028', '1222', '1372', '1135', '1768', '2610', '1286', '2845', '3450', '1102', '656', '1780', '595', '2225', '1126', '4144', '2100', '2230', '1544', '1305', '967', '540', '715', '2500', '1578', '1253', '961', '1709', '416', '1430', '1249', '2791', '834', '2060', '891', '1133', '2440', '940', '2160', '4104', '1790', '1920', '1374', '1445', '711', '1720', '1030', '1375', '469', '3800', '1820', '875', '2378', '3385', '1641', '2200', '1702', '1141', '2072', '35000', '1355', '1019', '1875', '1683', '1515', '2118', '1083', '2300', '1092', '2264', '1033', '810', '1045', '1337', '1570', '1855', '1823', '1094', '1202', '1688', '1235', '3205', '1077', '2330', '425', '5270', '1468', '4300', '2280', '1341', '1279', '2760', '1101', '775', '667', '735', '4360', '1215', '820', '1779', '1694', '2376', '1975', '674', '445', '1618', '2181', '1556', '1179', '1275', '1615', '920', '1602', '1176', '675', '1352', '1717', '10961', '2119', '1157', '1566', '2830', '1091', '3670', '918', '1950', '1695', '1705', '1447', '1114', '1022', '3761', '1339', '1198', '1691', '2489', '1142', '1976', '5500', '1853', '1567', '995', '884', '1342', '1345', '1652', '1740', '1278', '1356', '823', '1897', '1575', '975', '686', '1410', '2238', '1174', '793', '1082', '1001', '1554', '4239', '1680', '2470', '2825', '2480', '1799', '1047', '1495', '3260', '1611', '3206', '1639', '1303', '901', '1725', '1396', '1825', '1565', '1891', '1161', '315', '665', '1255', '2112.95', '1810', '1548', '1485', '1256', '2268', '4100', '15', '1843', '1467', '1209', '1315', '3968', '1563', '2169', '3235', '1036', '1662', '1234', '1403', '915', '3900', '1405', '2557', '1480', '6136', '1390', '3100', '1824', '1561', '812', '1243', '1637', '1265', '24', '1666', '1357', '1093', '1865', '1039', '1985', '1520', '6000', '1117', '1937', '1053', '1625', '1397', '1523', '996', '3095', '697', '1453', '3335', '1281', '565', '1024', '1233', '1510', '1945', '1008', '2689', '1697', '1651', '1078', '1314', '856', '1621', '1484', '14000', '485', '1617', '1384', '1408', '2292', '2006', '1984', '1960', '3024', '1586', '2325', '924', '1006', '2842', '1558.67', '1542', '2750', '3596', '1635', '1239', '1596', '1009', '1726', '925', '3356', '1395', '1121', '1606', '4634', '1232', '680', '3467.86', '1132', '1262', '1840', '1655', '1730', '2195', '1079', '1085', '3200', '1739', '4346', '935', '1178', '1065', '999', '1835', '2090', '1519', '1267', '1146', '3329', '785', '921', '2700', '1197', '3073', '755', '1213', '1654', '1367', '620', '982', '440', '1614', '1363', '1156', '1455', '1890', '2197', '3522', '764', '1381', '340', '2465', '865', '1756', '628', '1765', '1532', '804.1', '1525', '1435', '1272', '1541', '1201', '1785', '1258', '1297', '1291', '1012', '2790', '1373', '1052', '3680', '2863', '2424', '2710', '3040', '1294', '1808', '3516', '3850', '3770', '1537', '1512', '1378', '1277', '8000', '2550', '3198', '1690', '2572', '520', '1219', '1564', '1482', '1469', '551', '1745', '1269.72', '1266', '1168', '1552', '817', '2070', '1815', '654', '1181', '1616', '1306', '1626', '1585', '1370', '3250', '1193', '1678', '2780', '2422', '882', '1757', '2028', '2611', '1163', '1098', '1418', '727', '2774', '1722', '914', '1184', '927', '1488', '1699', '712', '1476', '1429', '1188', '1026', '2690', '3606', '3630', '1494', '1758', '3675', '2337', '5800', '682', '1632', '1041', '5080', '3012', '1072', '52272', '726', '993', '1743', '1204', '640', '972', '955', '2479.13', '3042', '1068', '1354', '1238', '2204', '1364', '1329', '916', '688', '1331', '2106', '1718', '1936', '2172.65', '990', '1685', '740', '1172', '896', '2460', '2025', '2475', '765', '3155', '1980', '3555', '585', '2045', '6150', '671', '2017', '1139', '581.91', '1158', '3951', '360', '1307', '1703', '1343', '1852', '1546', '1424', '1398', '1322', '432', '4750', '1571', '1031', '1109', '2350', '1003', '824', '9600', '1111', '2519', '1837', '1673', '1112', '545', '1754', '3584', '2168', '3125', '1095', '870', '1708', '1183', '3067', '1929', '1775', '1268', '1687', '3526', '983', '2039', '1316', '1605', '1313', '1934', '877', '936', '1901', '1819', '3245', '1845', '2254', '515', '1893', '3025', '830', '2145', '987', '2556', '946', '2121', '860', '1223', '1788', '1144', '1862', '1646', '1995', '1692', '6040', '2040', '1311', '4850', '1942', '668', '1089', '960', '1583', '1018', '3400', '395', '1259', '1216', '1428', '605', '1444', '1187', '1452.55', '2357', '1448', '296', '1058', '1411', '2503', '2524', '1634', '1603', '714', '1573', '1465', '351', '2526', '965', '1229', '1055', '1304', '2720', '1365', '1165', '1776.42', '1107', '2319', '1536', '1164', '11338', '30000', '3190', '1917', '1071', '4460', '3297', '693', '1021', '1608', '2289', '2257', '1263', '1043', '590', '1299', '3161', '1124', '871', '3515', '1118', '1051', '1478', '1226', '3366', '760', '1728', '2215', '1562', '1555', '2105', '6200', '606', '527', '2321', '2167', '1274', '780', '7500', '904', '730', '977', '2540', '795', '1463', '2401', '2065', '1549', '1452.19', '2849', '734', '799', '1896', '3875', '1493', '1366', '3010', '4235', '2002', '1419.59', '5530', '1392', '1675', '792', '1248', '1147', '1527', '1332', '933', '461.82', '2392', '989', '1199', '1149', '2180', '1818', '2430', '2820', '4772', '3960', '5600', '1553', '5400', '794', '4051', '1351', '8321', '1777', '1576', '648', '2721', '2265', '2220', '1888', '1559', '905', '829', '2409', '3640', '1749', '1127', '4190', '1247', '420', '1672', '1817', '2043', '2779', '1224', '1517', '1086', '1588', '1020.07', '5965', '3537', '615', '956', '1218', '2559', '2363', '3895', '885', '1451.5', '3016', '1336', '673', '1719', '664', '1011', '1231', '2024', '2408', '2240', '1584.01', '685', '1858', '3530', '3436', '1335', '1999', '3950', '1205.47', '923', '3595', '944', '832', '3259', '1457', '858', '1689.28', '1241', '2340', '596', '10000', '3126', '1318', '4428', '2912', '1301', '1819.18', '2059', '1269', '888', '532', '902', '4025', '1676', '1137', '3227', '2170', '2940', '1915', '963', '1682', '1371', '3785', '1203', '350', '835', '815', '1134', '769', '1712', '1088', '1106', '1591', '1918', '2990', '1344', '2113', '1884', '703', '1302', '3262', '919', '1159', '1386', '2080', '2386', '1531', '1839', '1513', '892', '1104', '4818', '4355', '908', '3216', '1023', '1574', '2360', '1452', '813', '3884', '3876', '1880', '2425', '1097', '937', '897', '1653', '1212', '2776', '3480', '1965', '1', '1738', '2372', '1016', '1827', '2651', '1752', '2270', '971', '7000', '2342', '6600', '1627.86', '3004', '1182', '635', '2062', '1874', '1171', '2020', '1059', '2388', '1369.1', '1938', '2462', '1636', '2885', '1462', '607', '3295', '1076', '1053.4', '1505', '1698', '2560', '1856', '3445', '2283', '1382', '3815', '3730', '1391', '4827', '745', '1276', '833', '669', '1594', '1037', '3811', '1996', '2275', '1842', '1048', '1466', '3860', '3027', '1734', '704', '3657', '1096', '580', '1830', '1746', '1732.46', '2592', '4470', '624', '722', '2775', '706', '610', '4356', '1394', '2138', '910.2', '4960', '575', '3179', '2928', '909', '1932', '655', '662', '2182', '2416', '1948', '3905', '2107', '2431', '1257', '1789', '2675', '1081', '3360', '2882', '2320', '1402', '4640', '818', '9000', '1169', '997', '958', '1288', '3035', '661', '300', '1751', '1778', '814', '2006.8', '435', '1922', '3754', '1449', '2658', '1711', '418', '2370', '3520', '5', '1539', '1004', '5985', '1046', '2493', '992', '3580', '1067', '2461', '1437', '1795', '2155', '4260', '1486', '555', '4830', '2383', '1103', '1721', '2266', '1123', '1328', '2111', '1538', '3080', '787', '938', '6613', '502', '3339', '670', '1483', '2162', '1733', '1221', '1376', '1832', '1974', '849', '1706', '2631', '2792', '1518', '480', '1930', '1679', '2448', '2171', '1136', '1477', '42000', '1312', '1793', '1551', '3563', '462', '36000', '1113.12', '2640', '1643', '621', '1309', '981', '1548.3', '2302', '1525.84', '1227', '797', '2396', '1939', '3401', '1434', '2246', '4510', '560', '1138', '725', '1766', '625', '948', '1914', '1334', '3940', '2777.29', '1014', '695', '2273', '3160', '1769', '1554.3', '4920', '627', '3405.1', '1498', '922', '2403', '1236', '2570', '1442', '1732', '881', '951', '1652.5', '3532', '2601', '2159', '906', '4700', '2384', '941', '1414', '2005', '2582', '2663', '2127', '3930', '1293', '45', '658', '1208.51', '1622', '2435', '1737', '1776', '1347', '2259', '2328', '602', '806', '1416', '1628', '1660.4', '1507', '1949', '4075', '2880', '1987', '1191', '497', '672', '2245', '1597', '2423', '3131', '827', '396', '4273', '1261', '1458', '876', '690', '1073', '2172', '1689', '1667', '934', '651', '2075', '583', '2099', '1237', '2108', '2324', '2968', '644', '1859', '2232', '2932', '3425', '1504', '3820', '1831', '947', '1805', '1677', '1716', '1864', '638', '4856', '4003', '1492', '1489', '1431', '3664', '539', '2520', '2173', '3170', '907', '1741', '3463', '2120', '1107.83', '505', '2901', '1713', '1266.67', '2679', '1777.26', '3044', '3150', '3090', '2093', '790', '1744', '2476', '1877', '1649', '766', '1593', '1333', '1631', '1013', '4250', '1829', '5720', '2047', '2132', '1412', '1044', '7200', '646', '2456', '1439', '2210', '1409', '5924', '552', '2365', '864', '1806', '1066', '2293', '1903', '1567.2', '26136', '959', '855', '1885', '1691.2', '2122', '11000', '1099', '1283', '2023', '2274.24', '4900', '2079', '3589', '1770', '1244', '470', '2095', '2134', '2515', '1970', '2665', '2130', '947.55', '1421', '3990', '2501', '381', '3301.8', '3204', '3408', '1496', '1860', '3489', '4166', '1763', '1002', '2260', '5422', '1542.14', '3746', '5100', '2144.6', '1087', '1061', '10200', '5200', '20000', '1284', '1613', '6830', '3692', '1503', '4408', '7800', '1962', '1894', '1568', '3060', '873', '2666', '3633', '3978', '3621', '2008', '1362', '694', '1674', '3033', '1181.7', '1338', '2625', '2041', '3565', '1502', '3870', '4097', '1601', '2380', '3569', '3435', '3144', '3602', '1074', '952', '1432', '2251', '2439', '1032', '1998', '3056', '808', '1836', '826', '2317', '666', '3293', '3197', '1516', '1491', '1881', '1217', '3230', '973', '4110', '2533', '2297', '1057', '1471', '3855', '7400', '4170', '2375', '1506', '1872', '5108', '1393', '2496', '8400', '1558', '1054', '2646', '1633', '2736', '616', '6500', '1547', '663', '1707', '1324', '1786', '1368', '535', '2003', '2504', '4290', '410', '2087.01', '2704', '3760', '3071', '4600', '2429', '2925', '1919', '1719.3', '1668', '1609', '3420', '1861', '3362', '2015', '2048', '1119', '1797', '1816', '588', '1234.6', '492', '1902', '1214', '753', '1763.25', '1129', '2367', '456', '4320', '534', '2249.81', '3626', '2110', '4560', '3560', '1441', '3508', '2996', '994', '702', '3496', '612', '1623', '1792', '1587', '2125', '1529', '1319', '991', '717', '3117', '1844', '2648', '2223', '2185', '998', '2733', '1389', '2970', '1907', '4446', '3009', '1905', '5384', '1723', '1607', '5150', '2956', '1522', '3210', '5425', '978', '4041', '3628', '2437', '3270', '857', '2247', '2980', '570', '2087', '4278', '10030', '3005', '4201', '4382', '2140', '1921', '1669', '2285', '1642', '1361', '2801.25', '1688.12', '939', '1298', '3350', '2950', '1733.5', '10624', '3418', '691', '3092', '3913', '1049', '2030', '2404', '1423', '633', '2597', '1211', '1981', '7514', '2735', '1287', '284', '2077', '499', '2826', '4550', '524', '2495', '3075', '1426', '2082', '2214', '896.9', '2064', '488', '2916', '2088', '581', '516', '2569', '3758', '1383', '2316', '1626.6', '1348', '4303', '1990', '1940', '1189', '4482', '986', '2507', '866.28', '3410', '2098', '1761', '509', '3535', '1154', '3019', '1748', '1604', '1248.52', '1370.07', '777.4', '1886', '3453', '623', '2546', '943', '1879', '1401', '1139.7', '1323', '3280', '1581', '2051', '3381', '2312', '4450', '784', '6652', '976', '4694', '302', '2282', '1814', '2695', '60', '842', '4304', '4209', '2415', '1731', '1589', '1473', '4040', '2406', '2137', '2787', '3175', '2035', '8840', '1684', '614', '2162.03', '6729', '893', '2019', '1747', '1524', '1273', '2615', '772', '2999.97', '1289', '1377', '1892', '2176', '3554', '3671', '1681', '2236', '2955', '1950.2', '2171.66', '3729', '953', '5515', '1321', '1317', '2031', '1454', '2153', '475', '1623.29', '5480', '5656', '866', '3504', '4723', '2453', '2505', '567', '4350', '1443', '886', '16335', '747', '1857', '1876', '1916', '3734', '964', '4007', '2875', '2295', '1686', '1989', '754', '2444', '3290', '1932.47', '2086', '911', '2206', '1659', '2485', '30400', '1701', '1264', '1557', '7150', '1369', '5665.84', '2920', '6688', '1331.95', '2872', '1648', '1379', '3124', '9200', '613', '250', '2395', '2758', '774', '4689']

Ranges:
['2100 - 2850', '3010 - 3410', '2957 - 3450', '3067 - 8156', '1042 - 1105', '1145 - 1340', '1015 - 1540', '1520 - 1740', '1195 - 1440', '1200 - 2400', '1120 - 1145', '4400 - 6640', '3090 - 5002', '4400 - 6800', '1160 - 1195', '4000 - 5249', '1115 - 1130', '520 - 645', '1000 - 1285', '3606 - 5091', '650 - 665', '633 - 666', '1445 - 1455', '884 - 1116', '850 - 1093', '1440 - 1884', '547.34 - 827.31', '580 - 650', '3425 - 3435', '1804 - 2273', '3630 - 3800', '660 - 670', '620 - 933', '2695 - 2940', '2000 - 5634', '3450 - 3472', '1250 - 1305', '670 - 980', '1005.03 - 1252.49', '1004 - 1204', '645 - 936', '2710 - 3360', '2249.81 - 4112.19', '3436 - 3643', '2830 - 2882', '596 - 804', '1255 - 1863', '1300 - 1405', '1500 - 2400', '934 - 1437', '980 - 1030', '1564 - 1850', '1446 - 1506', '1070 - 1315', '2806 - 3019', '613 - 648', '1430 - 1630', '704 - 730', '1482 - 1846', '2805 - 3565', '3293 - 5314', '1210 - 1477', '3369 - 3464', '1125 - 1500', '1076 - 1199', '381 - 535', '2215 - 2475', '524 - 894', '540 - 670', '1650 - 2538', '2725 - 3250', '1974 - 2171', '888 - 1290', '1360 - 1890', '2466 - 2856', '660 - 700', '385 - 440', '2100 - 5405', '770 - 841', '1310 - 1615', '1782 - 2000', '1469 - 1766', '1255 - 1350', '870 - 1080', '2580 - 2591', '2563 - 2733', '605 - 624', '4260 - 4408', '1349 - 3324', '3300 - 3335', '1180 - 1630', '1365 - 1700', '3500 - 3600', '1482 - 1684', '981 - 1249', '1100 - 1225', '1565 - 1595', '1270 - 1275', '840 - 1010', '655 - 742', '800 - 2660', '1408 - 1455', '4050 - 4075', '942 - 1117', '1750 - 2640', '1390 - 1600', '598 - 958', '1010 - 1300', '3103 - 3890', '1450 - 1950', '1450 - 1595', '763 - 805', '3307 - 3464', '620 - 934', '2462 - 2467', '540 - 740', '1618 - 1929', '3508 - 4201', '4900 - 4940', '1610 - 1880', '755 - 770', '664 - 722', '700 - 900', '596 - 861', '1925 - 2680', '615 - 985', '540 - 565', '750 - 800', '1660 - 1805', '1410 - 1710', '1079 - 1183', '2800 - 2870', '1230 - 1290', '943 - 1220', '2041 - 2090', '527 - 639', '1160 - 1315', '706 - 716', '1791 - 4000', '799 - 803', '2470 - 2790', '783 - 943', '4500 - 5540', '1255 - 1375', '610 - 615', '854 - 960', '2650 - 2990', '1230 - 1490', '660 - 780', '1150 - 1194', '684 - 810', '1200 - 1800', '1510 - 1670', '1550 - 1590', '1235 - 1410', '3484 - 3550', '929 - 1078', '2150 - 2225', '1520 - 1759', '629 - 1026', '1215 - 1495', '1140 - 1250', '2400 - 2600', '1052 - 1322', '5666 - 5669', '712 - 938', '1783 - 1878', '2528 - 3188', '650 - 760', '1400 - 1421', '4000 - 4450', '2204 - 2362', '1437 - 1629', '850 - 1060', '1200 - 1470', '1020 - 1130', '1133 - 1384']

Strings:
[]

Unknown:
['34.46Sq. Meter', '4125Perch', '1000Sq. Meter', '1100Sq. Yards', '5.31Acres', '30Acres', '716Sq. Meter', '1500Sq. Meter', '142.61Sq. Meter', '1574Sq. Yards', '361.33Sq. Yards', '117Sq. Yards', '3040Sq. Meter', '500Sq. Yards', '167Sq. Meter', '315Sq. Yards', '3Cents', '188.89Sq. Yards', '204Sq. Meter', '45Sq. Yards', '133.3Sq. Yards', '78.03Sq. Meter', '122Sq. Yards', '84.53Sq. Meter', '2.09Acres', '24Guntha', '697Sq. Meter', '1500Cents', '132Sq. Yards', '2Acres', '1100Sq. Meter', '15Acres', '1.26Acres', '151.11Sq. Yards', '1Grounds', '2940Sq. Yards', '45.06Sq. Meter', '1.25Acres', '86.72Sq. Meter', '38Guntha', '6Acres', '120Sq. Yards', '24Sq. Meter', '142.84Sq. Meter', '300Sq. Yards']

In [228]:
def convert_sqft_to_num(x):
    # Dictionary mapping units to their conversion factors to square feet
    conversion_factors = {
        'Sq. Meter': 10.7639,
        'Sq. Yard': 9,
        'Cent': 435.6,
        'Acre': 43560
    }

    # Check for unit and convert
    for unit, factor in conversion_factors.items():
        if unit in x:
            number = float(x.split(unit)[0].strip())
            return round(number * factor, 2)

    # Handle ranges of values
    tokens = x.split('-')
    if len(tokens) == 2:
        return round((float(tokens[0]) + float(tokens[1])) / 2, 2)

    # Handle direct conversion to float
    try:
        return round(float(x), 2)
    except ValueError:
        return None  # Return None if conversion fails

In [229]:
df2['total_sqft'] = df2['total_sqft'].apply(convert_sqft_to_num)
df2.head(20)

                    location       size  total_sqft  bath   price  bhk
0   Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1           Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2                Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3         Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                   Kothanur      2 BHK      1200.0   2.0   51.00    2
5                 Whitefield      2 BHK      1170.0   2.0   38.00    2
6           Old Airport Road      4 BHK      2732.0   4.0  204.00    4
7               Rajaji Nagar      4 BHK      3300.0   4.0  600.00    4
8               Marathahalli      3 BHK      1310.0   3.0   63.25    3
9               Gandhi Bazar  6 Bedroom      1020.0   6.0  370.00    6
10                Whitefield      3 BHK      1800.0   2.0   70.00    3
11                Whitefield  4 Bedroom      2785.0   5.0  295.00    4
12        7th Phase JP Nagar      2 BHK      1000.0   2.0   38.00    2
13                 Gottigere      2 BHK      1100.0   2.0   40.00    2
14                  Sarjapur  3 Bedroom      2250.0   3.0  148.00    3
15               Mysore Road      2 BHK      1175.0   2.0   73.50    2
16             Bisuvanahalli      3 BHK      1180.0   3.0   48.00    3
17     Raja Rajeshwari Nagar      3 BHK      1540.0   3.0   60.00    3
18     Ramakrishnappa Layout      3 BHK      2770.0   4.0  290.00    3
19        Manayata Tech Park      2 BHK      1100.0   2.0   48.00    2

In [230]:
df3 = df2[df2.bhk < 10]
df3['bhk'].value_counts()

bhk
2    5544
3    4857
4    1417
1     656
5     356
6     221
7     100
8      89
9      54
Name: count, dtype: int64

In [231]:
df3.loc[:, 'price_per_sq_feet']=df3['price']*100000 / df3['total_sqft']

C:\Users\91931\AppData\Local\Temp\ipykernel_17568\3362509971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.loc[:, 'price_per_sq_feet']=df3['price']*100000 / df3['total_sqft']

In [232]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13294 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location           13294 non-null  object
 1   size               13294 non-null  object
 2   total_sqft         13290 non-null  float64
 3   bath               13294 non-null  float64
 4   price              13294 non-null  float64
 5   bhk                13294 non-null  int64
 6   price_per_sq_feet  13290 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 830.9+ KB

In [233]:
df3.drop(['size'],axis=1)

,location,total_sqft,bath,price,bhk,price_per_sq_feet
0,Electronic City Phase II,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...
13315,Whitefield,3453.0,4.0,231.00,5,6689.834926
13316,Richards Town,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,550.0,1.0,17.00,1,3090.909091

In [234]:
df3.loc[:, 'location']=df3['location'].apply(lambda x:x.strip())
location_count=df3['location'].value_counts()

In [235]:
location_count_less_10= location_count[location_count<=10]
location_count_less_10

location
Nagappa Reddy Layout         10
Ganga Nagar                  10
Sector 1 HSR Layout          10
Kalkere                      10
Basapura                     10
                             ..
Sarvobhogam Nagar             1
Prasanna layout Herohalli     1
Kanakapur main road           1
Sindhi Colony                 1
Masjid e Alkareem             1
Name: count, Length: 1044, dtype: int64

In [236]:
df3.loc[:, 'location']=df3['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [237]:
df3['location'].value_counts()

location
other                        2869
Whitefield                    541
Sarjapur  Road                399
Electronic City               304
Kanakpura Road                273
                             ...
Tindlu                         11
Marsur                         11
2nd Phase Judicial Layout      11
Thyagaraja Nagar               11
HAL 2nd Stage                  11
Name: count, Length: 242, dtype: int64

In [238]:
df4=df3[((df3['total_sqft']/df3['bhk']) >= 300)]

In [239]:
df4.shape

(12558, 7)

In [240]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for location, subdf in df.groupby('location'):  # Unpack the group key and DataFrame
        m = np.mean(subdf['price_per_sq_feet'])
        st = np.std(subdf['price_per_sq_feet'])
        gen_df = subdf[(subdf['price_per_sq_feet'] > (m - st)) & (subdf['price_per_sq_feet'] <= (m + st))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
    return df_output

df5 = remove_outliers_sqft(df4)

In [241]:
df5.shape

(10315, 7)

In [242]:
df5.head()

              location   size  total_sqft  bath  price  bhk  price_per_sq_feet
0  1st Block Jayanagar  4 BHK      2850.0   4.0  428.0    4       15017.543860
1  1st Block Jayanagar  3 BHK      1630.0   3.0  194.0    3       11901.840491
2  1st Block Jayanagar  3 BHK      1875.0   2.0  235.0    3       12533.333333
3  1st Block Jayanagar  3 BHK      1200.0   2.0  130.0    3       10833.333333
4  1st Block Jayanagar  2 BHK      1235.0   2.0  148.0    2       11983.805668

In [243]:
def bhk_outlier_removal(df):
    exclude_indices = np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk]={
                'mean':np.mean(bhk_df.price_per_sq_feet),
                'std':np.std(bhk_df.price_per_sq_feet),
                'count':bhk_df.shape[0]
            }

        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sq_feet<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

df6=bhk_outlier_removal(df5)

In [244]:
# df1.shape
# df6 = df6.drop(['price_per_sq_feet','size'],axis=1)
df6.head()

              location   size  total_sqft  bath  price  bhk  price_per_sq_feet
0  1st Block Jayanagar  4 BHK      2850.0   4.0  428.0    4       15017.543860
1  1st Block Jayanagar  3 BHK      1630.0   3.0  194.0    3       11901.840491
2  1st Block Jayanagar  3 BHK      1875.0   2.0  235.0    3       12533.333333
3  1st Block Jayanagar  3 BHK      1200.0   2.0  130.0    3       10833.333333
4  1st Block Jayanagar  2 BHK      1235.0   2.0  148.0    2       11983.805668

In [245]:
df6.shape

(7364, 7)

In [246]:
df6.to_csv('data/cleaned_new.csv', index=False)

In [251]:
unique_locations = df6['location'].unique()
print(unique_locations)
df_unique_locations = pd.DataFrame(unique_locations, columns=['location'])

# Save to CSV
df_unique_locations.to_csv('data/unique_locations.csv', index=False)

['1st Block Jayanagar' '1st Phase JP Nagar' '2nd Phase Judicial Layout'
 '2nd Stage Nagarbhavi' '5th Block Hbr Layout' '5th Phase JP Nagar'
 '6th Phase JP Nagar' '7th Phase JP Nagar' '8th Phase JP Nagar'
 '9th Phase JP Nagar' 'AECS Layout' 'Abbigere' 'Akshaya Nagar'
 'Ambalipura' 'Ambedkar Nagar' 'Amruthahalli' 'Anandapura' 'Ananth Nagar'
 'Anekal' 'Anjanapura' 'Ardendale' 'Arekere' 'Attibele' 'BEML Layout'
 'BTM 2nd Stage' 'BTM Layout' 'Babusapalaya' 'Badavala Nagar' 'Balagere'
 'Banashankari' 'Banashankari Stage II' 'Banashankari Stage III'
 'Banashankari Stage V' 'Banashankari Stage VI' 'Banaswadi'
 'Banjara Layout' 'Bannerghatta' 'Bannerghatta Road' 'Basavangudi'
 'Basaveshwara Nagar' 'Battarahalli' 'Begur' 'Begur Road' 'Bellandur'
 'Benson Town' 'Bharathi Nagar' 'Bhoganhalli' 'Billekahalli' 'Binny Pete'
 'Bisuvanahalli' 'Bommanahalli' 'Bommasandra'
 'Bommasandra Industrial Area' 'Bommenahalli' 'Brookefield' 'Budigere'
 'CV Raman Nagar' 'Chamrajpet' 'Chandapura' 'Channasandra'
 'Chikka Tirupathi' 'Chikkabanavar' 'Chikkalasandra' 'Choodasandra'
 'Cooke Town' 'Cox Town' 'Cunningham Road' 'Dasanapura' 'Dasarahalli'
 'Devanahalli' 'Devarachikkanahalli' 'Dodda Nekkundi' 'Doddaballapur'
 'Doddakallasandra' 'Doddathoguru' 'Domlur' 'Dommasandra' 'EPIP Zone'
 'Electronic City' 'Electronic City Phase II' 'Electronics City Phase 1'
 'Frazer Town' 'GM Palaya' 'Garudachar Palya' 'Giri Nagar'
 'Gollarapalya Hosahalli' 'Gottigere' 'Green Glen Layout' 'Gubbalala'
 'Gunjur' 'HAL 2nd Stage' 'HBR Layout' 'HRBR Layout' 'HSR Layout'
 'Haralur Road' 'Harlur' 'Hebbal' 'Hebbal Kempapura' 'Hegde Nagar'
 'Hennur' 'Hennur Road' 'Hoodi' 'Horamavu Agara' 'Horamavu Banaswadi'
 'Hormavu' 'Hosa Road' 'Hosakerehalli' 'Hoskote' 'Hosur Road' 'Hulimavu'
 'ISRO Layout' 'ITPL' 'Iblur Village' 'Indira Nagar' 'JP Nagar' 'Jakkur'
 'Jalahalli' 'Jalahalli East' 'Jigani' 'Judicial Layout' 'KR Puram'
 'Kadubeesanahalli' 'Kadugodi' 'Kaggadasapura' 'Kaggalipura'
 'Kaikondrahalli' 'Kalena Agrahara' 'Kalyan nagar' 'Kambipura'
 'Kammanahalli' 'Kammasandra' 'Kanakapura' 'Kanakpura Road' 'Kannamangala'
 'Karuna Nagar' 'Kasavanhalli' 'Kasturi Nagar' 'Kathriguppe'
 'Kaval Byrasandra' 'Kenchenahalli' 'Kengeri' 'Kengeri Satellite Town'
 'Kereguddadahalli' 'Kodichikkanahalli' 'Kodigehaali' 'Kodigehalli'
 'Kodihalli' 'Kogilu' 'Konanakunte' 'Koramangala' 'Kothannur' 'Kothanur'
 'Kudlu' 'Kudlu Gate' 'Kumaraswami Layout' 'Kundalahalli'
 'LB Shastri Nagar' 'Laggere' 'Lakshminarayana Pura' 'Lingadheeranahalli'
 'Magadi Road' 'Mahadevpura' 'Mahalakshmi Layout' 'Mallasandra'
 'Malleshpalya' 'Malleshwaram' 'Marathahalli' 'Margondanahalli' 'Marsur'
 'Mico Layout' 'Munnekollal' 'Murugeshpalya' 'Mysore Road' 'NGR Layout'
 'NRI Layout' 'Nagarbhavi' 'Nagasandra' 'Nagavara' 'Nagavarapalya'
 'Narayanapura' 'Neeladri Nagar' 'Nehru Nagar' 'OMBR Layout'
 'Old Airport Road' 'Old Madras Road' 'Padmanabhanagar' 'Pai Layout'
 'Panathur' 'Parappana Agrahara' 'Pattandur Agrahara'
 'Poorna Pragna Layout' 'Prithvi Layout' 'R.T. Nagar' 'Rachenahalli'
 'Raja Rajeshwari Nagar' 'Rajaji Nagar' 'Rajiv Nagar' 'Ramagondanahalli'
 'Ramamurthy Nagar' 'Rayasandra' 'Sahakara Nagar' 'Sanjay nagar'
 'Sarakki Nagar' 'Sarjapur' 'Sarjapur  Road' 'Sarjapura - Attibele Road'
 'Sector 2 HSR Layout' 'Sector 7 HSR Layout' 'Seegehalli' 'Shampura'
 'Shivaji Nagar' 'Singasandra' 'Somasundara Palya' 'Sompura'
 'Sonnenahalli' 'Subramanyapura' 'Sultan Palaya' 'TC Palaya'
 'Talaghattapura' 'Thanisandra' 'Thigalarapalya' 'Thubarahalli'
 'Thyagaraja Nagar' 'Tindlu' 'Tumkur Road' 'Ulsoor' 'Uttarahalli'
 'Varthur' 'Varthur Road' 'Vasanthapura' 'Vidyaranyapura' 'Vijayanagar'
 'Vishveshwarya Layout' 'Vishwapriya Layout' 'Vittasandra' 'Whitefield'
 'Yelachenahalli' 'Yelahanka' 'Yelahanka New Town' 'Yelenahalli'
 'Yeshwanthpur' 'other']

# Break Here

In [248]:
df6 = df5[df5.price < 1000]
df6.head()

              location   size  total_sqft  bath  price  bhk  price_per_sq_feet
0  1st Block Jayanagar  4 BHK      2850.0   4.0  428.0    4       15017.543860
1  1st Block Jayanagar  3 BHK      1630.0   3.0  194.0    3       11901.840491
2  1st Block Jayanagar  3 BHK      1875.0   2.0  235.0    3       12533.333333
3  1st Block Jayanagar  3 BHK      1200.0   2.0  130.0    3       10833.333333
4  1st Block Jayanagar  2 BHK      1235.0   2.0  148.0    2       11983.805668

In [249]:
# Calculate price per square foot and round to 2 decimal points
df6['price_per_sqft'] = ((df6['price'] * 100000) / df6['total_sqft']).round(2)

# Display the first few rows of the dataframe
df6.head()

C:\Users\91931\AppData\Local\Temp\ipykernel_17568\3643033441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['price_per_sqft'] = ((df6['price'] * 100000) / df6['total_sqft']).round(2)

,location,size,total_sqft,bath,price,bhk,price_per_sq_feet,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,15017.543860,15017.54
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,11901.840491,11901.84
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,12533.333333,12533.33
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,10833.333333,10833.33
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,11983.805668,11983.81

In [250]:
df6['availability_binary'] = df6['availability'].apply(lambda x: 1 if x == 'Ready To Move' else 0)
print(df6['availability_binary'].value_counts())
df6.head()

KeyError: 'availability'

In [ ]:
df7 = df6.drop('availability', axis='columns')
df7.head()
df7.shape

(13225, 8)

In [ ]:
def standardize_location(name):
    return name.lower().strip().replace(' ', '')

df7['standardized_location'] = df7['location'].apply(standardize_location)

In [ ]:
exact_duplicates = df7[df7.duplicated(['standardized_location'], keep=False)]

In [ ]:
# Find near duplicates
def find_near_duplicates(locations, threshold=90):
    near_duplicates = {}
    for loc in locations:
        matches = process.extract(loc, locations, scorer=fuzz.token_sort_ratio)
        near_duplicates[loc] = [match for match in matches if match[1] >= threshold and match[0] != loc]
    return near_duplicates

unique_locations = df7['standardized_location'].unique()
near_duplicates = find_near_duplicates(unique_locations, threshold=95)
near_duplicates = {key: value for key, value in near_duplicates.items() if value}

In [ ]:
replacement_dict = {}
for location, duplicates in near_duplicates.items():
  all_occurrences = [location] + [d[0] for d in duplicates]
  most_frequent = max(set(all_occurrences), key=all_occurrences.count)
  replacement_dict[location] = most_frequent
  for duplicate in duplicates:
    replacement_dict[duplicate[0]] = most_frequent

In [ ]:
# Replace near-duplicate location names in the DataFrame
df7['standardized_location'] = df7['standardized_location'].replace(replacement_dict)

In [ ]:
df8 = df7.drop('location', axis='columns')
df8.head()
df8['standardized_location'].value_counts()

standardized_location
whitefield                        541
sarjapurroad                      405
electroniccity                    304
kanakapuraroad                    277
thanisandra                       237
                                 ...
4bedroomfarmhouseinbagalur          1
jakkasandra                         1
gulakamale                          1
bemllayout,rajarajeshwarinagar      1
duddanahalli                        1
Name: count, Length: 1184, dtype: int64

In [ ]:
df8.head()

,total_sqft,bath,balcony,price,bhk,price_per_sqft,availability_binary,standardized_location
0,1056.0,2.0,1.0,39.07,2.0,3699.81,0,electroniccityphaseii
1,2600.0,5.0,3.0,120.00,4.0,4615.38,1,chikkatirupathi
2,1440.0,2.0,3.0,62.00,3.0,4305.56,1,uttarahalli
3,1521.0,3.0,1.0,95.00,3.0,6245.89,1,lingadheeranahalli
4,1200.0,2.0,1.0,51.00,2.0,4250.00,1,kothanur

In [ ]:
# Log transformation for large values
df8['log_total_sqft'] = np.log1p(df8['total_sqft'])
df8['log_price'] = np.log1p(df8['price'])
df8['log_price_per_sqft'] = np.log1p(df8['price_per_sqft'])

# Standardization
scaler = StandardScaler()
df8['std_total_sqft'] = scaler.fit_transform(df8[['total_sqft']])
df8['std_price'] = scaler.fit_transform(df8[['price']])
df8['std_price_per_sqft'] = scaler.fit_transform(df8[['price_per_sqft']])

# Normalization
normalizer = MinMaxScaler()
df8['norm_total_sqft'] = normalizer.fit_transform(df8[['total_sqft']])
df8['norm_price'] = normalizer.fit_transform(df8[['price']])
df8['norm_price_per_sqft'] = normalizer.fit_transform(df8[['price_per_sqft']])

In [ ]:
# Calculate 1st and 99th percentiles
low_percentile = df8['log_price_per_sqft'].quantile(0.01)
high_percentile = df8['log_price_per_sqft'].quantile(0.99)

# Remove outliers
df = df8[(df8['log_price_per_sqft'] >= low_percentile) & (df8['log_price_per_sqft'] <= high_percentile)]

# 2. Remove total sqft outliers

# Standardize total_sqft
df8['standardized_total_sqft'] = stats.zscore(df['total_sqft'])

# Remove points beyond 3 standard deviations
df8 = df8[np.abs(df8['standardized_total_sqft']) <= 3]

# Reset index after removing rows
df8 = df8.reset_index(drop=True)

print(f"Shape of DataFrame after outlier removal: {df8.shape}")

Shape of DataFrame after outlier removal: (12670, 18)

In [ ]:
# Filter rows based on conditions
df9 = df8[~((df8['bath'] >= 4) & (df8['total_sqft'] < 2000))]
df9.shape

(11857, 18)

In [ ]:
df10 = df9[~(df9['total_sqft'] < 300)]
df10.shape

(11853, 18)

In [ ]:
# mean_prices = df10.groupby('standardized_location')['price'].mean()

# # Map the mean prices to the original DataFrame
# df10['location_encoded'] = df10['standardized_location'].map(mean_prices)

# print(df10)

In [ ]:
# # Calculate the global mean of the target variable
# global_mean = df10['price'].mean()

# # Define the smoothing parameter
# m = 3

# # Apply smoothing to the target encoding
# def smooth_mean_encoding(col, target, m, global_mean):
#     agg = df10.groupby(col)[target].agg(['mean', 'count'])
#     mean_encoded = (agg['count'] * agg['mean'] + m * global_mean) / (agg['count'] + m)
#     return mean_encoded

# # Apply the smooth mean encoding to the 'standardized_location' column
# mean_encoded = smooth_mean_encoding('standardized_location', 'price', m, global_mean)
# df10['location_encoded'] = df10['standardized_location'].map(mean_encoded)

# print(df10)

In [ ]:
df10.head()

,location,total_sqft,bath,balcony,price,bhk,log_total_sqft,log_price,std_total_sqft,std_price,norm_total_sqft,norm_price,standardized_total_sqft
0,Electronic City Phase II,1056.0,2.0,1.0,39.07,2.0,6.963190,3.690628,-0.051716,-0.637914,0.000807,0.031479,-0.565018
1,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4.0,7.863651,4.795791,0.056086,0.131356,0.001989,0.113475,1.339606
2,Uttarahalli,1440.0,2.0,3.0,62.00,3.0,7.273093,4.143135,-0.024905,-0.419955,0.001101,0.054711,-0.091329
3,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3.0,7.327781,4.564348,-0.019250,-0.106278,0.001163,0.088146,0.008590
4,Kothanur,1200.0,2.0,1.0,51.00,2.0,7.090910,3.951244,-0.041662,-0.524514,0.000918,0.043566,-0.387385

In [ ]:
# drop the following columns standardized_location	log_total_sqft	log_price	std_total_sqft	std_price	std_price_per_sqft	norm_total_sqft	norm_price	norm_price_per_sqft	log_price_per_sqft	standardized_total_sqft

# df11 = df10.drop(['standardized_location', 'log_total_sqft', 'log_price', 'std_total_sqft',
#                    'std_price', 'std_price_per_sqft', 'norm_total_sqft', 'norm_price',
#                    'norm_price_per_sqft', 'log_price_per_sqft', 'standardized_total_sqft'], axis='columns')
# df11.head(30)

df11 = df10.drop([ 'log_total_sqft', 'log_price', 'std_total_sqft',
                   'std_price', 'norm_total_sqft', 'norm_price',
                    'standardized_total_sqft'], axis='columns')
# df11.head(30)

In [ ]:
df11.shape

(11853, 6)

In [ ]:


# Save DataFrame to CSV with a relative path
df11.to_csv('data/cleaned.csv', index=False)